h1#titulo-sitio {
	font-size: 4em;
	color:#d39a0a;
	text-shadow: 5px 5px 5px #bc8609;
}

body {
	/*Background*/
	background-image: url('banner-ven-a-manabi.png');
	background-color: gray;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: top left;
	background-attachment: fixed;
	
}

div.resumen ~ div.resumen {
	border-style: solid;
	border-radius: 15px;
}

div#res-hidden{
	display: none;
}

div.imagen-receta{
	border-bottom: solid;
}

div.imagen-receta a {
	 font-variant: small-caps;
}

p.categoria-text {
	color: #d69f2a;
}

p.descripcion-short{
	padding:2px;
}

section#recetas-resumen div.resumen{
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
	width: 20%;
}

a:link {
	color: #db990a;
}

a:hover {
	color: #edc163;
	text-decoration: none;
}

a:visited {
	color:#7c652e;
}

div.bloque-inline{
	display:inline-block;
}

div[name="non-image"]{
	width:50%;
}

p.descripcion {
	padding:5px;
}

article.detalle {
	border-bottom: dotted;
	border-width: 1px;
	border-color:  #e0d2b1;
}

div.imagen-receta{
	display:block;
}


div#gallina{
	background-image: url('img/caldoGallina2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

}

div#gallina:hover {
	opacity: 0.7;
}

div#pescado{
	background-image: url('img/bichePescado.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

}

div#pescado:hover {
	opacity: 0.7;
}

div#verde{
	background-image: url('img/empanadasVerde.jpg');
	background-size: 100%;
	background-repeat: no-repeat;

}

div#verde:hover {
	opacity: 0.7;
}